<footer>
  <nav class="round">
    <ul>
      <li><p>&#169 2012-2020, WeezChat.com</p></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
